header {
    background-color: #fef5ef;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.headorta {
    padding-right: 35px;
    padding-top: 5px;
}

header>.headorta>nav>ul>li>label {
    font-size: 18px;
}

label {
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;

}

label>a {
    text-decoration: none;
    color: black;
}


.headorta>nav>ul {
    display: flex;
}

.headorta>nav>ul>li {
    margin: 0 25px;
}


.headsag>a {
    margin: 0 20px;
}

.headsag>a>i {
    color: black;
    font-size: 22px;
    margin-top: 25px;
    cursor: pointer;
}

.shopbasliq {
    margin-top: 60px;
    height: 330px;
    background-image: url(./details/images/shopbasliq.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shopbasliq>h3 {
    color: white;
    font-size: 35px;
    font-weight: 600;
}

.avep {
    display: flex;
    margin: 20px 0 45px 0;
}

.avep>a {
    color: white;
    border-right: 2px solid white;
    text-decoration: none;
    height: 25px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avep>p {
    color: orange;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter {
    padding-inline: 47px;
    display: flex;
    justify-content: space-between;
    margin: 30px 0 30px 0;
}
.filtersol>select{
    margin-top: 19px;
    width: 200px;
    height: 40px;
    padding: 10px;
    font-size: 18px;
}


.filtersag {
    display: flex;
    align-items: center;
    justify-content: center;
}
.filtersag>select{
    margin-top: 19px;
    width: 200px;
    height: 40px;
    padding: 10px;
    margin-left: 15px;
    font-size: 18px;

}

label {
    margin-bottom: 3px;
}
.newarrust,
.newarralt {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 41px;
}

.newarrbox1,
.newarrbox2,
.newarrbox3,
.newarrbox4,
.newarrbox5,
.newarrbox6,
.newarrbox7,
.newarrbox8 {
    position: relative;
    border: 1px solid rgb(205, 204, 204);
    width: 330px;
    height: 470px;
    border-radius: 10px;
}

.arrboxalt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 140px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.newarrbox1 {
    background-image: url(./details/images/newarr1.jpg);
    background-size: 330px 330px;
    background-repeat: no-repeat;
}

.newarrbox2 {
    background-image: url(./details/images/newarr2.jpg);
    background-size: 330px 330px;
    background-repeat: no-repeat;
}

.newarrbox3 {
    background-image: url(./details/images/newarr3.jpg);
    background-size: 330px 330px;
    background-repeat: no-repeat;
}

.newarrbox4 {
    background-image: url(./details/images/newarr4.jpg);
    background-size: 330px 330px;
    background-repeat: no-repeat;
}

.newarrbox5 {
    background-image: url(./details/images/newarr5.jpg);
    background-size: 330px 330px;
    background-repeat: no-repeat;
}

.newarrbox6 {
    background-image: url(./details/images/newarr6.jpg);
    background-size: 330px 330px;
    background-repeat: no-repeat;
}

.newarrbox7 {
    background-image: url(./details/images/newarr7.jpg);
    background-size: 330px 330px;
    background-repeat: no-repeat;
}

.newarrbox8 {
    background-image: url(./details/images/newarr8.jpg);
    background-size: 330px 330px;
    background-repeat: no-repeat;
}

.arrboxp {
    font-size: 20px;
}

.arrboxspan {
    color: red;
}

.arrboxspan>span {
    color: black;
}

.arrboxdiv>i {
    font-size: 13px;
    letter-spacing: -4px;
}

.arrboxicon>i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}

.arrboxbutton>button {
    height: 40px;
    width: 160px;
    color: white;
    background-color: black;
    font-weight: bold;
}

.newarrboxuzluk {
    background-color: rgba(59, 59, 59, 0.179);
    height: 330px;
    width: 330px;
    display: none;
}

.newarrbox1:hover .newarrboxuzluk {
    display: block;
}

.newarrbox2:hover .newarrboxuzluk {
    display: block;
}

.newarrbox3:hover .newarrboxuzluk {
    display: block;
}

.newarrbox4:hover .newarrboxuzluk {
    display: block;
}

.newarrbox5:hover .newarrboxuzluk {
    display: block;
}

.newarrbox6:hover .newarrboxuzluk {
    display: block;
}

.newarrbox7:hover .newarrboxuzluk {
    display: block;
}

.newarrbox8:hover .newarrboxuzluk {
    display: block;
}

.arrboxicon:nth-child(1) {
    position: absolute;
    top: 140px;
    left: 80px;
}

.arrboxicon:nth-child(3) {
    position: absolute;
    top: 140px;
    right: 80px;
}

.arrboxicon:nth-child(2) {
    position: absolute;
    left: 140px;
    top: 140px;
}

.arrboxbutton>button {
    position: absolute;
    bottom: 140px;
    left: 85px;
    z-index: 3;
}

.newarralt {
    margin-bottom: 100px;
}   

#followush2 {
    margin-top: 70px;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 43px;
    color: black;
    margin-bottom: 12px;
}

.followus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.followusp {
    margin-bottom: 40px;
}

.followusesas {
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
}

div[class*="followinsta"] {
    width: 19%;
    height: 365px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.followinsta1 {
    background-image: url(./details/images/followus1.png);
}

.followinsta2 {
    background-image: url(./details/images/followus2.png);
}

.followinsta3 {
    background-image: url(./details/images/followus3.png);
}

.followinsta4 {
    background-image: url(./details/images/followus4.png);
}

.followinsta5 {
    background-image: url(./details/images/followus5.png);
}

.followwlayout {
    width: 100%;
    height: inherit;
    background-color: rgb(255, 255, 255, 0.5);
    display: none;
}

#followicon {
    font-size: 45px;
    margin: 170px 0 0 130px;
}

.followinsta1:hover .followwlayout {
    display: block;
}

.followinsta2:hover .followwlayout {
    display: block;
}

.followinsta3:hover .followwlayout {
    display: block;
}

.followinsta4:hover .followwlayout {
    display: block;
}

.followinsta5:hover .followwlayout {
    display: block;
}

footer {
    display: flex;
    justify-content: space-around;
    height: 300px;
    padding-top: 70px;
    background-color: rgb(237, 236, 236);
}

.foot1 {
    height: 240px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.foot2 {
    height: 200px;
    width: 13%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.foot3 {
    height: 200px;
    width: 13%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.foot4 {
    height: 160px;
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer>.foot4>input {
    display: block;
    width: 90%;
    height: 40px;
}

div[class*="foot"]>a {
    text-decoration: none;
    color: black;
}

.foot1>p {
    color: gray;
    line-height: 23px;
}

.iconlar>i {
    margin-left: 10px;
}

.iconlar>.fa-facebook-f {
    margin-left: 1px;
}

.footh3 {
    font-size: 18px;
    font-weight: bolder;

}

input>::placeholder {
    font-size: 30px;
}

.footbutton {
    width: 160px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
}

.footbutton:hover {
    background-color: rgba(0, 0, 0, 0.726);
}
.reqemkecid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.kecidler{
    margin-inline: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(235, 235, 235);
}
.reqemkecid>a{
    text-decoration: none;
    color: black;
}
.areqemkecid2>.kecidler{
    background-color: orange;
}
